.quote {
  transition: all 0.6s ease;
}

.fade1 {
  animation-name: fadeInOpacity1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes fadeInOpacity1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade2 {
  animation-name: fadeInOpacity2;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes fadeInOpacity2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
